@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --bg-dark: #011627;
  --bg-light: #fdfffc;
  --green: #2ec4b6;
  --red: #e71d36;
  --orange: #ff9f1c;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-dark);
  color: #fff;
  box-sizing: content-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Login and Singup page */
.cascading-right {
  margin-left: -50px;
}

@media (max-width: 992px) {
  .cascading-right {
    margin-left: 0;
    margin-top: -30%;
  }
}

/* slightly transparent fallback */
.backdrop-blur {
  background-image: linear-gradient(
    rgba(34, 34, 59, 0.6),
    rgba(34, 34, 59, 0.9),
    rgba(34, 34, 59, 0.95),
    rgba(34, 34, 59, 0.96),
    rgba(34, 34, 59, 0.97),
    rgba(34, 34, 59, 0.97)
  );
  border-bottom: 1px solid rgba(34, 34, 59, 0.98);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(60px);
    background-image: none;
    backdrop-filter: blur(60px);
  }
}

/* Property banner */
.property-banner {
  width: 100vw;
  background-color: var(--green);
  padding: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.property-banner-heading {
  font-size: 8rem;
  margin-right: 25vw;
}
.property-banner-description {
  font-size: 2rem;
}

@media (max-width: 992px) {
  .property-banner {
    padding: 2rem;
  }
  .property-banner-heading {
    font-size: 4rem;
  }
  .property-banner-description {
    font-size: 1rem;
  }
}

/* Property card */
.property-card {
  color: #000;
}